/* 게시판 글쓰기(board_form.php) */
@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../font/AppleSDGothicNeoM.ttf");
}

* {
  list-style: none;
  text-decoration: none;
  border-color: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "AppleSDGothicNeoM";
}
#board_box {
  position: relative;
  width: 700px;
  height: 700px;
  padding: 5px 15px;
  margin: 30px auto;
  /* background-color: rgba(255, 255, 255, 0.6); */
}
/* #board_box h2 {
  color: #000;
  margin-top: 30px;
  padding: 5px;
  border-bottom: solid 2px black;
  font-size: 23px;
}

#board_box h2 b {
  color: #000;
  margin-top: 30px;
  padding: 5px;
  font-size: 23px;
} */
#board_form span {
  display: inline-block;
}
#board_form .col1 {
  width: 150px;
}
#board_form li {
  padding: 12px;
  border-bottom: solid 1px #cccccc;
}
#board_form input {
  width: 500px;
  height: 25px;
  color: #111;
}
#board_form textarea {
  width: 500px;
  height: 150px;
  color: #111;
}
#board_form #text_area {
  position: relative;
  height: 158px;
}
#board_form #text_area .col1 {
  position: relative;
}
#board_form .col2 {
  position: absolute;
  float: right;
}
#board_box .buttons {
  text-align: right;
  margin: 20px 0 40px 0;
}
#board_box .buttons li {
  display: inline;
}
#board_box .buttons button {
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(25, 25, 112);
}
/* 게시판 목록보기(board_list.php) */
#list_box {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
}
#board_list {
  color: #000;
}
#board_list li {
  padding: 10px 0;
  color: black;
  border-bottom: solid 1px #999999;
  width: 800px;
}
#board_list span {
  display: inline-block;
  color: black;
  text-align: center;
}
#board_list a {
  display: inline-block;
  color: black;
  text-align: center;
}
#board_list .col1 {
  width: 80px;
}
#board_list .col2 {
  width: 330px;
  text-align: left;
}
#board_list .col3 {
  width: 100px;
}
#board_list .col4 {
  width: 40px;
}
#board_list .col5 {
  width: 180px;
}
#board_list .col6 {
  width: 40px;
}
#page_num {
  text-align: center;
  margin: 30px 0;
}
#page_num li {
  display: inline;
}
/* 게시판 내용보기(board_view.php) */
#board_box .title {
  margin-top: 30px;
  padding: 10px;
  border-bottom: solid 2px #516e7f;
  font-size: 20px;
}
#view_content li:nth-child(1) {
  padding: 15px;
  border-bottom: solid 1px #aaaaaa;
}
#view_content .col2 {
  float: right;
}
#view_content li:nth-child(2) {
  padding: 15px 15px 80px 15px;
  border-bottom: solid 1px #cccccc;
}
#view_content li:nth-child(3) button {
  padding: 5px 20px;
  margin: 15px 0 40px 720px;
  cursor: pointer;
}

.left-container {
  width: 20%;
  height: 270px;
  margin-top: 50px;
  margin-right: 50px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}

.left-container ul {
  margin: 25px 0px 0px 50px;
}

.left-container ul a {
  color: rgb(133, 133, 133);
  font-size: 28px;
}
.lc-title {
  margin-left: 50px;
  margin-top: 35px;
  font-size: 35px;
  font-weight: bolder;
}

.left-container ul a:hover {
  color: black;
  transition: linear 0.4s;
}
