.nav-item {
  margin-left: 25px;
  margin-right: 25px;
}
.navbar-nav {
  text-align: center;
}

* {
  list-style: none;
  text-decoration: none;
  border-color: collapse;
  margin: 0px;
  padding: 0px;
}
