/* 메인 콘텐트 */
@font-face {
  font-family: "AppleSDGothicNeoH";
  src: url("../font/AppleSDGothicNeoH.ttf");
}
@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("../font/AppleSDGothicNeoL.ttf");
}

* {
  list-style: none;
  text-decoration: none;
  border-color: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "AppleSDGothicNeoM";
}
.wrap {
  width: 100%;
  height: auto;
  text-align: center;
}
.slider_wrap {
  margin: 0 auto;
  text-align: center;
}
/* real main start ======== */
.main_content {
  position: absolute;
  top: 55%;
  left: 10%;
}

.main_content .write {
  font-size: 79px;
  color: white;
}

.sm_write {
  font-size: 23px;
  color: white;
  font-family: "AppleSDGothicNeoL";
}
/* real main================== */

#main_content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  top: 30%;
  left: 20%;
  position: absolute;
  width: 1150px;
  height: 250px;
  margin: 0 auto;
  padding: 25px 0;
  margin-top: 70px;
}
#latest_bd {
  position: absolute;
  left: 50px;
}
#latest_bd h4 {
  width: 500px;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: solid 1px #dddddd;
}
#latest_bd ul {
  margin-top: 20px;
}
#latest_bd li {
  margin-top: 8px;
  margin-left: 10px;
}
#latest_bd span {
  display: inline-block;
}
#latest_bd span:nth-child(1) {
  width: 280px;
}
#latest_bd span:nth-child(2) {
  width: 100px;
}
#latest_bd span:nth-child(3) {
  width: 100px;
}
#latest_nt {
  position: absolute;
  right: 50px;
}
#latest_nt h4 {
  width: 500px;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: solid 1px #dddddd;
}
#latest_nt ul {
  margin-top: 20px;
}
#latest_nt li {
  margin-top: 8px;
  margin-left: 10px;
}
#latest_nt span {
  display: inline-block;
}
#latest_nt span:nth-child(1) {
  width: 280px;
}
#latest_nt span:nth-child(2) {
  width: 100px;
}
#latest_nt span:nth-child(3) {
  width: 100px;
}
