@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../font/AppleSDGothicNeoM.ttf");
}

* {
  list-style: none;
  text-decoration: none;
  border-color: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "AppleSDGothicNeoM";
}

.room_wrap {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  color: black;
}

/* T&R */
.room_wrap .top_name {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 2em;
  font-style: oblique;
}
.room_wrap .rm_name {
  font-size: 1.5em;
}
.explain {
  font-size: 0.9em;
}
.room_wrap .sm_rm_name {
  font-size: 1.2em;
}

.room_wrap td {
  padding: 20px 20px 0px 20px;
}
.nick {
  color: white;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(0, 0, 0, 0.5);
}
.whitefont {
  margin-top: 24px;
  width: 330px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  padding-left: 10px;
}

.whitefont > input {
  border: none;
  width: 100px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding-left: 10px;
}
.bnt1 {
  color: black;
}
h1 {
  font-size: 48px;
}

.moongoo {
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.contents1 > a {
  font-size: 24px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  color: #000;
}

.result {
  font-size: 20px;
  color: #000;
}

.intro_bg {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/19/21/32/nature-3241335_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.table_center {
  width: 50%;
  margin-left: 25%;
  margin-right: 15%;
  margin-bottom: 50px;
  text-align: center;
}

.table_text {
  width: 400px;
  text-align: center;
}
.header {
  display: flex;
  width: 1280px;
  margin: auto;

  height: 86px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  line-height: 86px;
  width: calc(1250px);
}

.nav > li {
  margin-left: 45px;
  color: #fff;
}
.nav > li > a {
  color: #fff;
}

.amount {
  position: relative;
  top: 60x;
  display: flex;
  width: 1280px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0.1, 0, 0, 0.1);
  margin: 60px auto 0 auto;
}

.amount > li {
  height: 132px;
  flex: 1;
}

.amount > li > div {
  text-align: center;
  border-right: 1px solid gray;
  margin-top: 37px;
  height: 57px;
}

.amount > li:not(:last-child) > div {
  border-right: 1px solid #e1e1e1;
}
.intro_text {
  width: 100%;
  margin: 210px auto 231px auto;
  text-align: center;
}

.intro_text > h1 {
  font-size: 48px;
  color: #fff;
}
.intro_text > h4 {
  color: #fff;
}

.form {
  color: black;
}

h5 {
  color: black;
}

.room_rs {
  position: relative;
  margin: 30px auto;
}

.room_rs > a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid black;
}

.room_name {
  background-color: rgba(10, 13, 161, 0.4);
  border-radius: 20px;
  position: relative;
  width: 500px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 33px 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.content_wrap {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.content_wrap .top_box {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.content_wrap .top_box .map_box {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.content_wrap .top_box .map_box .pic_box {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 38%;
  height: 300px;
}

.content_wrap .top_box .map_box .pic_box .sub_img {
  width: 100%;
}

.content_wrap .top_box .map_box .pic_box .sub_img > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.content_wrap .top_box .map_box .pic_box .sub_img > ul > li {
  width: 30%;
  height: 90px;
  display: flex;
  margin-top: 10px;
  /* background-image: url("http://tong.visitkorea.or.kr/cms/resource/60/2876060_image2_1.jpg"); */
  background-size: cover;
}

.content_wrap .top_box .map_box .pic_box .sub_img > ul > li > img {
  width: 100%;
  height: 100%;
}

.content_wrap .line {
  background-color: black;
  height: 3px;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.content_wrap .place_box {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.info-title {
  display: block;
  background: #50627f;
  color: #fff;
  text-align: center;
  height: 24px;
  line-height: 22px;
  border-radius: 4px;
  padding: 0px 10px;
}

.custom_overlay {
  color: red;
}

.popup {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.popup * {
  padding: 0;
  margin: 0;
}
.popup .popup_info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.popup .popup_info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.popup_info .popup_title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.popup_info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.popup_info .close:hover {
  cursor: pointer;
}
.popup_info .body {
  position: relative;
  overflow: hidden;
}
.popup_info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px;
}
.popup_info .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popup_info .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.popup_info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}
.popup_info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.popup_info .link {
  color: #5085bb;
}

/* 관광지 상세정보 css */
.tourlist_top {
  float: left;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 30px;
}

.tourlist_top::before {
  content: "";
  width: 50px;
  height: 30px;
  background-color: #009970;
  margin: 5px 10px 0px 0px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.content_wrap .place_box .tour_content {
  width: 100%;
  height: 600px;
  font-size: 20px;
}

.tour_content .info_wrap .info_default {
  width: 100%;
  height: 50px;
  /* background-color: red; */
}

.tour_content .info_wrap .info_default p {
  display: inline-block;
  box-sizing: border-box;
  line-height: 50px;
}

.tour_content .info_wrap .info_default p:first-child {
  width: 20%;
  /* background-color: red; */
  padding-right: 10px;
}

.tour_content .info_wrap .info_default p:nth-child(2) {
  margin-left: 50px;
  width: 70%;
}

.tour_content .info_wrap .service {
  height: 100%;
}

.tour_content .info_wrap .service > span {
  width: 20%;
  display: inline-block;
  position: relative;
  bottom: 50%;
}

.tour_content .info_wrap .service > ul {
  width: 70%;
  display: inline-block;
  margin-left: 40px;
}
