@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../font/AppleSDGothicNeoM.ttf");
}

* {
  list-style: none;
  text-decoration: none;
  border-color: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "AppleSDGothicNeoM";
}
.nick {
  color: white;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(0, 0, 0, 0.5);
}
.whitefont {
  width: 330px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  padding-left: 10px;
}

.whitefont > input {
  border: none;
  width: 100px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding-left: 10px;
}
.bnt1 {
  color: black;
}
h1 {
  font-size: 48px;
}

.moongoo {
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.contents1 {
  font-size: 20px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  color: #000;
}

.result {
  font-size: 24px;
}

.intro_bg {
  /* background-image: url("../image/int1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}

.table_center {
  width: 50%;
  margin-left: 25%;
  margin-right: 15%;
  margin-bottom: 50px;
  text-align: center;
}

.table_text {
  width: 400px;
  text-align: center;
}
.header {
  display: flex;
  width: 1280px;
  margin: auto;

  height: 86px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  line-height: 86px;
  width: calc(1250px);
}

.nav > li {
  margin-left: 45px;
  color: #fff;
}
.nav > li > a {
  color: #fff;
}

.amount {
  position: relative;
  top: -66px;
  display: flex;
  width: 1280px;
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.amount > li {
  height: 132px;
  flex: 1;
}

.amount > li > div {
  text-align: center;
  border-right: 1px solid gray;
  margin-top: 37px;
  height: 57px;
}

.amount > li:not(:last-child) > div {
  border-right: 1px solid #e1e1e1;
}
.intro_text {
  width: 100%;
  margin: 210px auto 231px auto;
  text-align: center;
}

.intro_text > h1 {
  font-size: 48px;
  color: #fff;
}
.intro_text > h4 {
  color: #fff;
}

.form {
  color: black;
}

h5 {
  color: black;
}
