@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../font/AppleSDGothicNeoM.ttf");
}

* {
  list-style: none;
  text-decoration: none;
  border-color: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "AppleSDGothicNeoM";
}
body {
  margin: 0;
}

A:link {
  color: #000000;
  text-decoration: none;
}
A:visited {
  color: #393939;
  text-decoration: none;
}
A:hover {
  color: #393939;
  text-decoration: none;
}
TD {
  font-size: 8pt;
  line-height: 15pt;
  font-family: Gulim;
}
A.navigation:visited {
  color: #000000;
  text-decoration: none;
  none: ;
}
A.navigation:hover {
  font-weight: bold;
  color: #393939;
  text-decoration: underline;
}
A.navigation:active {
  color: #000000;
  none: ;
}
A.navigation:link {
  color: #000000;
  text-decoration: none;
}
A.navigat:visited {
  color: #c85102;
  text-decoration: none;
  none: ;
}
A.navigat:hover {
  color: #f8ba25;
  text-decoration: underline;
}
A.navigat:active {
  color: #c85102;
  text-decoration: none;
}
A.navigat:link {
  color: #c85102;
  text-decoration: none;
}
TD {
  font-size: 9pt;
}
TD.Column {
  width: 500px;
  background-color: #aed6f3;
  text-align: right;
}
.Input {
  margin-left: 0px;
  width: 100px;
}
.Input01 {
  margin-left: 5px;
  width: 250px;
}
.Input02 {
  margin-left: 5px;
  width: 350px;
}
TABLE.Sheet {
  border-top-width: 0px;
  border-left-width: 0px;
  font-size: 8pt;
  border-bottom-width: 0px;
  font-family: Arial;
  border-right-width: 0px;
}
TD.Head {
  border-right: white 0px solid;
  border-top: white 0px solid;
  border-left: white 1px solid;
  color: white;
  border-bottom: white 1px solid;
  background-color: #a5a5a5;
}
TD.Data {
  border-right: #a5a5a5 0px solid;
  border-top: #a5a5a5 0px solid;
  border-left: #a5a5a5 1px solid;
  color: black;
  border-bottom: #a5a5a5 1px solid;
  background-color: white;
}
TD.First {
  border-left-width: 0px;
}
TD.GrayData {
  background-color: #f4f4f4;
}
TD.Center {
  text-align: center;
}
.SubMenu {
  height: 20px;
}
.menu {
  font: 9pt/140% "����";
  color: #555555;
}
.menu A {
  font: 9pt/140% "����";
  color: #555555;
  text-decoration: none;
}
.menu A:hover {
  font: bold 9pt/140% "����";
  color: #003399;
  text-decoration: underline;
}
